@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barriecito&family=Caveat:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Parisienne&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    background: #0d0d0d;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.year-container{
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.year{
    font-size: 5.5rem;
    color: #9dfb06;
    position: relative;
    -webkit-box-reflect: below 0px linear-gradient(rgba(255, 255, 255, 0.105));
}

.year.shadow{
    text-shadow: 0 0 20px #9dfb06;
}

.container{
    position: relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.birthday{
    font-size: 1.8rem;
    font-family: 'Barriecito', system-ui;
    color: #3cb9f3;
    margin-bottom: 12px;
}

.birthday.name{
    font-size: 4rem;
    font-family: 'Parisienne', cursive;
    color: #b537f2;
    text-shadow: 0 0 10px #b537f2;
    margin: 10px 0;

}

.birthday.name:nth-of-type(3){
    font-size: 2rem;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14;
    font-family: "Caveat", cursive;
    margin-top: 24px;
}

.birthday.name:nth-of-type(4){
    font-size: 1.8rem;
    color: #ff6037;
    text-shadow: 0 0 10px #ff6037;
}

.age-container{
    margin-top: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.birthday.name.fa.label{
    font-family: 'Audiowide', cursive;
    font-size: 1.4rem;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    -webkit-box-reflect: below 0px linear-gradient(rgba(255, 255, 255, 0.5));
}

.birthday.name.fa.label.age{
    color: #9dfb06;
    text-shadow: 0 0 10px #9dfb06;

}
.birthday.name.fa.label.time{
    position: absolute;
    color: #9dfb06;
    text-shadow: 0 0 10px #9dfb06;
    -webkit-box-reflect: below 0px linear-gradient(rgba(255, 255, 255, 0));
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-top:-10%;

}
:root {
    --cake-scale: 0.3;
    --cake-top: 0px;
    --cake-left: 50px;
    --cake-right: auto;
    --cake-bottom: auto;
    --cake-margin-bottom: 0;
}

.cake {
    position: absolute;
    width: 250px;
    height: 180px;
    margin-top: var(--cake-margin-bottom);
    transform: scale(var(--cake-scale));
    top: var(--cake-top);
    left: var(--cake-left);
    right: var(--cake-right);
    bottom: var(--cake-bottom);
    transform-origin: center bottom;
    opacity: 0;
    
}

.cake > * {
    position: absolute;
}

.plate {
    width: 270px;
    height: 110px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 0 #b3b3b3, 0 4px 0 #b3b3b3, 0 5px 40px rgba(0, 0, 0, 0.5);
}

.layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 50%;
    background-color: #553c13;
    box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b, 0 8px 0px #30220a, 0 10px 0px #2e200a, 0 12px 0px #2c1f0a, 0 14px 0px #2a1e09, 0 16px 0px #281d09, 0 18px 0px #271c09, 0 20px 0px #251b08, 0 22px 0px #231a08, 0 24px 0px #211808, 0 26px 0px #1f1707, 0 28px 0px #1d1607, 0 30px 0px #1c1507;
}

.layer-top { top: 0px; }
.layer-middle { top: 33px; }
.layer-bottom { top: 66px; }

.icing {
    top: 2px;
    left: 5px;
    background-color: #f0e4d0;
    width: 240px;
    height: 90px;
    border-radius: 50%;
}

.icing:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: #f4ebe0;
    box-shadow: 0 0 4px #f9f4ee, 0 0 4px #f9f4ee, 0 0 4px #f9f4ee;
    border-radius: 50%;
    z-index: 1;
}

.drip {
    display: block;
    width: 50px;
    height: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #f0e4d0;
}

.drip1 { top: 53px; left: 5px; transform: skewY(15deg); height: 48px; width: 40px; }
.drip2 { top: 69px; left: 181px; transform: skewY(-15deg); }
.drip3 { top: 54px; left: 90px; width: 80px; border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }

.candle {
    background-color: #7B020B;
    width: 16px;
    height: 50px;
    border-radius: 8px / 4px;
    top: -20px;
    left: 50%;
    margin-left: -8px;
    z-index: 10;
}

.candle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 8px;
    border-radius: 50%;
    background-color: #a7030f;
}

.flame {
    position: absolute;
    background-color: orange;
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
    top: -34px;
    left: 50%;
    margin-left: -7.5px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
    0% { transform: skewX(5deg); box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2); }
    25% { transform: skewX(-5deg); box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5); }
    50% { transform: skewX(10deg); box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3); }
    75% { transform: skewX(-10deg); box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4); }
    100% { transform: skewX(5deg); box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5); }
}
